{%- if site.enable_mermaid -%}
<!-- Mermaid -->
<script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version }}/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let mermaidBlocks = document.querySelectorAll('pre code.language-mermaid');
    mermaidBlocks.forEach(function(block) {
      let pre = block.parentElement;
      let div = document.createElement('div');
      div.classList.add('mermaid');
      div.textContent = block.textContent;
      pre.parentElement.replaceChild(div, pre);
    });
    mermaid.initialize({
      startOnLoad: true,
      theme: document.documentElement.getAttribute('data-theme') === 'dark' ? 'dark' : 'default',
    });
  });
</script>
{%- endif %}
